body {
    background-image: url(https://img1.wallspic.com/crops/7/6/6/1/7/171667/171667-minimalism-art-graphics-atmosphere-world-1366x768.jpg);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}